/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***** GENERAL STYLES *****/

html {
  font-size: 18px;
}
body {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #5e5e5e;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
}

#home-page main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  clear: both;
  width: 100%;
  padding-bottom: 0px;
}
.content {
  width: 100%;
}

h1 {
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #5e5e5e;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #5e5e5e;
  margin: 0 0 0.5em 0;
}

p {
  font-size: 0.75em;
  line-height: 1.7em;
  margin: 0 0 1.75em 0;
}

ul, 
ol {
  list-style-type: none;
}
 
a {
	color: #5e5e5e;
  text-decoration: none;
}

/***** HEADER *****/
table {
  border-collapse: collapse;
}
header {
  width: 90%;
  margin: 5%;
}
.logo {
  width: 30%;
}
.logo img {
  width: 100%;
}
.heading {
  padding-top: 11%;
  padding-left: 5px;
}
.heading h1 {
  text-align: left;
  padding: 0;
  margin: 0;
}
/*** Nav Menu ***/
.navbar {
  padding-bottom: 21%;
}
.nav {
  display: inline-block;
  cursor: pointer;
  float: right;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 2px;
  background-color: #5e5e5e;
  margin: 7px 0;
  transition: 0.4s;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/***** FOOTER *****/
#home-page footer, #contact footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer p, footer a {
  font-size: 0.5em;
  margin: 0;
  clear: both;
  text-decoration: none;
  font-weight: normal;
}
footer table {
  width: 90%;
  margin-left: 5%;
}
footer th {
  width: 25%;
  padding: 0 3px;
}
footer .copyright p {
  text-align: center;
}


/***** LANDING PAGE ******/
header{
  width: 90%;
} 
.logo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 25% 0;
}
.logo-main img{
  display: flex;
  clear: both;
  justify-content: center;
  align-items: center;
  width: 75%;
}

/***** PAGES GENERAL *****/
.page-main {
  padding-top: 0;
  width: 90%;
  margin: 0 5%;
}

/***** ABOUT PAGE *****/
#about .profile-pic {
  width: 100%;
  background: url(../img/profile-pic.png) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 200px;
}

/***** SERVICES PAGE *****/


/***** PORTFOLIO PAGE *****/

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 250px;
  height: 400px;
  border: 1px solid white;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  float: left;
  margin-bottom: 20px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: white;
  color: #5e5e5e;
  transform: rotateY(180deg);
}

#portfolio .project h2 {
  margin: 0.5em 0 0 0;
}
#portfolio .project p {
  margin-bottom: 1.5em;
}
.review-border {
  background: #5e5e5e;
  height: 1px;
  width: 80%;
  margin: 1em 10% ;
  clear: both;
}
.reviews {
  text-align: center;
}
.reviews p {
  margin-top: 0.5em;
  margin-bottom: 0;
}

/***** CONTACT PAGE *****/

#contact p {
  margin: 0;
  padding-left: 5px;
}
#contact .my-details p {
  padding-bottom: 2em;
}
#contact .social-media p {
  font-size: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  float: left;
}  

/***** 404 PAGE *****/

#non-page header {
  width: 90%;
  height: 70px;
  margin: 5%;
}
#non-page main {
  width: 90%;
  margin: 5%;
}
.non-content {
  width: 100%;
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}
#non-page h1, #non-page p {
  text-align: center;
  margin: 0;
}
#non-page h1 {
  padding-top: 40%;
}
#non-page p {
  padding-bottom: 40%;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
  /* General styles */

  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.4em;
  }
  p {
    font-size: 1em;
  }
  footer p, footer a {
    font-size: 0.75em;
  }
  .main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* Header */
  header {
    width: 3% 5%;
  }
  .logo {
    width: 15%;
  }
  .heading {
    padding-top: 6%;
  }
  .navbar {
    padding-bottom: 12%;
  }
  .bar1, .bar2, .bar3 {
    width: 55px;
  }
  
  /* About page */
  #about .profile-pic {
    height: 500px;
  }
  
  /* Services */


  /* Portfolio */
  .flip-box {
    width: 350px;
    height: 450px;
  }  
  #portfolio .reviews {
    clear: both;
    width: 90%;
    margin: 5%;
  }

  /* Contact */
  #contact .contact-image {
    width: 60%;
    background: url(../img/contact-image.png) no-repeat;
    background-size: cover;
    background-position: left;
    height: 500px;
  }
  .my-details, .social-media {
    width: 38%;
    padding: 5px 1%;
  }
  .contact-image, .my-details, .social-media {
    float: left; 
   }


}

@media only screen and (min-width: 1025px) {
  /*Desktop styles here*/
  /* General styles */
  
  h1 {
    font-size: 2.25em;
  }
  h2 {
    font-size: 1.25em;
    margin-top: 1em;
  }
  p {
    font-size: 1.2 em;
  }
  /* Header */
  header {
    margin: 2% 5%;
  }
  .logo {
    width: 10%;
  }
  .heading {
    padding-top: 4%;
  }
  .navbar {
    padding-bottom: 8.5%;
  }
  .bar1, .bar2, .bar3 {
    width: 70px;
  }
  /* Landing Page */
  #home-page main {
    padding-top: 0px;
  }
  .logo-main {
    margin: 3% 0;
  }
  .logo-main img {
    width: 40%;
  }
  
  /* About page */
  .title a{
    width: 10%;
    height: 100%;
  }
  .title .heading {
    margin-left: 1%;
    margin-bottom: 2%;
  }
  
  /* Services */
  #services h2 {
    width: 100%;
  }

  /* Portfolio */
  

  /* Contact */
  #contact .contact-image {
    width: 70%;
    height: 500px;
  }
  .my-details, .social-media {
    width: 28%;
    padding: 5px 1%;
  }
  #contact footer {
    position: inherit;
  }

  /* 404 PAGE */

  .non-content {
    width: 50%;
    margin: 0 25%;
  }
  #non-page h1 {
    padding-top: 20%;
  }
  #non-page p {
    padding-bottom: 20%;
  }
  
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

